.button {
  border-radius: 8px;
  background-color: rgba(92, 76, 76, 0.57);
  width: 100%;
  color: #fff;
  padding: 25px;
  border: 1px solid #b1252a;
  font: 700 14px/1 Inter, sans-serif;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 991px) {
  .button {
    max-width: 100%;
    padding: 25px 20px;
  }
}