.headerSection {
  background-color: rgba(170, 209, 216, 1);
  border-bottom: 10px solid rgba(177, 37, 42, 1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 497px;
  width: 100%;
  overflow: hidden;
  align-items: start;
  justify-content: center;
  padding: 199px 70px;
}

@media (max-width: 991px) {
  .contentWrapper {
    max-width: 100%;
    padding: 100px 20px;
  }
}

.backgroundImage {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.logoWrapper {
  position: relative;
  display: flex;
  margin-bottom: -40px;
  align-items: start;
  gap: 10px;
  justify-content: start;
}

@media (max-width: 991px) {
  .logoWrapper {
    margin-bottom: 10px;
  }
}

.logo {
  aspect-ratio: 4.95;
  object-fit: contain;
  object-position: center;
  width: 494px;
  min-width: 240px;
}

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}