.footer {
    background-color: rgba(132, 115, 115, 1);
    width: 100%;
    overflow: hidden;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    padding: 40px 70px;
    font: 400 14px/1 Inter, sans-serif;
  }
  
  @media (max-width: 991px) {
    .footer {
      padding: 40px 20px;
    }
  }