.serviceCard {
    display: flex;
    min-height: 290px;
    flex-direction: column;
    overflow: hidden;
    color: #000;
    text-align: center;
    justify-content: flex-start;
    font: 400 14px/20px Inter, -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  .serviceIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 148px;
    align-self: center;
    max-width: 100%;
  }
  
  .serviceTitle {
    margin-top: 18px;
  }
  
  .serviceDescription {
    margin-top: 18px;
  }
  
  @media (max-width: 991px) {
    .serviceCard {
      max-width: 100%;
      margin-top: 40px;
    }
  
    .serviceTitle,
    .serviceDescription {
      max-width: 100%;
    }
  }