.serviceGrid {
    margin-top: 98px;
    width: 100%;
    max-width: 1749px;
  }
  
  .gridContainer {
    display: flex;
    gap: 20px;
  }
  
  .gridItem:first-child {
    width: 27%;
  }
  
  .gridItem:nth-child(2) {
    width: 30.66%;
  }
  
  .gridItem:last-child {
    width: 42.34%;
  }
  
  @media (max-width: 991px) {
    .serviceGrid {
      max-width: 100%;
      margin-top: 40px;
    }
  
    .gridContainer {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  
    .gridItem,
    .gridItem:first-child,
    .gridItem:nth-child(2),
    .gridItem:last-child {
      width: 100%;
    }
  }