.button {
    border-radius: 8px;
    background-color: rgba(92, 76, 76, 0.57);
    margin-top: 27px;
    width: 100%;
    max-width: 619px;
    color: #fff;
    text-align: center;
    padding: 25px;
    font: 700 14px/1 Inter, sans-serif;
    border: 1px solid #b1252a;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 991px) {
    .button {
        padding: 25px 20px;
    }
}
